<!DOCTYPE html>
<html>
	<head>
		<title>Sliding Tiles Game</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="static/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" media="screen">
		<link href="static/css/main.css" rel="stylesheet" media="screen">
	</head>
	<body>{% block content %}
		<div class="container">
			<div class="row">
				<div class="col-md-12 page-header">
					<div class="h1">Sliding Tiles</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<div class="h2 text-center">
						<label>Grid Size</label> 
						<p name="grid_size_display"> {{ grid_size }} x {{grid_size}}</p>
					</div>
					<hr>
					<form method="POST">
						<input type="number" class="form-control input-lg" min=3 name="grid_size" id="grid_size" placeholder="Change grid size"/>
							{% csrf_token %}
					</form>
					<hr>
					<div id="hint" class="btn-info button">Hint</div>
					
				</div>
				<div class="col-md-9">
					<div id="puzzle" class="puzzle_container">
					{% for tile in tiles %}
						<div class="tile_container placeholder_{{ forloop.counter }}" style="width:{{ tile_size }}%; height:{{ tile_size }}%;">
						{% comment %}{% if tile == 0 %}
							<div class="tile blank_tile disabled"><p>0</p></div>
						{% else %}
							<div class="tile disabled tile_{{ tile }}"><p>{{ tile }}</p></div>
								
						{% endif %}{% endcomment %}
						<div class="tile disabled"><p></p></div>
						</div>
					{% endfor %}
					</div>
				</div>
				<script type="text/javascript" src="static/js/jquery.min.js"></script>
				<script type="text/javascript" src="static/bootstrap/js/bootstrap.min.js"></script>
				<script type="text/javascript" src="static/js/main.js"></script>
				<script type="text/javascript" src="static/js/game.js"></script>
				<script>
				var solution = {{ tiles }};
					var game = new Game({{ tiles }}, {{ grid_size }}, {{ legal_moves_map }});
					var board_new = game.shufflesBoard(game.solution, game.grid_size);
					game.currentBoard = board_new;

					var initGame = function(){
						this.start_order = game.solution;
						this.tile_count = this.start_order.length;
						this.targets_div = $('#puzzle .tile');
						console.log(targets_div);
						for(i=0; i<this.tile_count; i++){
							if(this.start_order[i] === 0){
								$(this.targets_div[i]).addClass('blank_tile');
								$(this.targets_div[i]).html('<p>0</p>');
							} else {
								$(this.targets_div[i]).addClass('tile_'+start_order[i]);
								$(this.targets_div[i]).html('<p>'+start_order[i]+'</p>');
							}
						};
					}();

					var enableTiles = function(tiles){
						$('.tile').addClass('disabled');
						var empty_start = game.locatesEmptySpace(tiles);
						var to_enable = game.getsLegalMoves(empty_start);
						for (i=0; i<to_enable.length; i++){
							$('.placeholder_'+ to_enable[i]+ ' .tile').removeClass('disabled');
						}
					};
					enableTiles(game.solution);
				</script>
				{% endblock %}
			</div>
		</div>
	</body>
</html>