.container input{
	margin: auto;
}
.puzzle_container {
	width: 600px;
	height: 600px;
	margin: auto;
	border:1px solid black;
}

.tile_container {
	float:left;
}

.tile, .blank_tile {
	width: 100%;
	height: 100%;
	background-color: #eee;
	margin: auto;
	border: 1px solid #666;
	position: relative;
}

.blank_tile { background-color: #000; }
.blank_tile p {visibility: hidden;}

.tile p {
	position: absolute;
	width:100%;
	top: 40%;
	text-align: center;
	font-size: xx-large;
}
.button {
	font-size: xx-large;
	text-align: center;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 6px;
}